RUN_ENV=main

BASE_URL=https://practicesoftwaretesting.com
API_URL=https://api.practicesoftwaretesting.com

BUGGY_BASE_URL=https://with-bugs.practicesoftwaretesting.com
BUGGY_API_URL=https://api-with-bugs.practicesoftwaretesting.com